{% extends 'account_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<main class="form-user d-flex h-100 w-100 align-items-center justify-content-center">
  <div class="col-md-6 col-lg-5 col-12">
    <div class="p-3">
      <h1 class="m-0">
        <a accesskey="h" title="Go to Home" href="{% url 'home' %}">
          <img class="d-block mx-auto" width="275px" src="{% static 'logo-completa.svg' %}"
            alt="On a blue post-it with its right top edge folded, The acronym Umain is spelled with  a purple u and yellow m,a,i,n , all in lower case">
        </a>
      </h1>
      <fieldset class="p-3 mt-3 card shadow-lg border-0 rounded-lg">
        <legend role="heading" aria-level="2" class="text-center font-weight-light mb-3 mt-3">
          Password reset complete
        </legend>

        <p>Your password has been set. You may go ahead and log in now.</p>

        <div class=" d-flex align-items-center mt-4 justify-content-center">

          <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
        </div>
      </fieldset>
    </div>
  </div>
</main>
<!--Password Reset Complete-->
<div class="container p-4">
  <h2 class="font-weight-bold mt-3"></h2>
  <hr>
</div>

{% endblock %}