{% extends 'account_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
<main class="form-user d-flex h-100 w-100 align-items-center justify-content-center">
    <div class="col-md-6 col-lg-5 col-12">
        <div class="p-3">
            <h1 class="m-0">
                <a accesskey="h" title="Go to Home" href="{% url 'home' %}">
                    <img class="d-block mx-auto" width="275px" src="{% static 'logo-completa.svg' %}"
                        alt="On a blue post-it with its right top edge folded, The acronym Umain is spelled with  a purple u and yellow m,a,i,n , all in lower case">
                </a>
            </h1>
            <fieldset class="p-3 mt-3 card shadow-lg border-0 rounded-lg">
                <legend role="heading" aria-level="2" class="text-center font-weight-light mb-3 mt-3">
                    Password Reset Confirm
                </legend>


                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                        <button class="btn btn-primary" type="submit">Reset password</button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</main>


{% endblock %}