{% extends "account_base.html" %}
{% load i18n static %}

{% block content %}

<main class="form-user d-flex h-100 w-100 align-items-center justify-content-center">
    <div class="col-md-6 col-lg-5 col-12">
        <div class="p-3">
            <h1 class="m-0">
                <a accesskey="h" title="Go to Home" href="{% url 'home' %}">
                    <img class="d-block mx-auto" width="275px" src="{% static 'logo-completa.svg' %}"
                        alt="On a blue post-it with its right top edge folded, The acronym Umain is spelled with  a purple u and yellow m,a,i,n , all in lower case">
                </a>
            </h1>
            <fieldset class="p-3 mt-3 card shadow-lg border-0 rounded-lg">
                <legend role="heading" aria-level="2" class="text-center font-weight-light mb-3 mt-3">
                   Change password
                </legend>

                <form method="post">{% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger d-flex flex-column align-items-start" role="alert">
                        <div class="fw-bold mb-3"><i class="fas fa-exclamation-triangle me-3"></i> ERROR</div>
                        <div id="form_errors">
                            {% if form.errors.items|length == 1 %}
                            {% translate "Please correct the error below." %}
                            {% else %}
                            {% translate "Please correct the errors below." %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

                    <div class="form-floating mb-3">
                        <!-- {{ form.old_password}} -->
                        <input type="password" class="form-control" aria-describedby="validationOldPas" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                        <label for="id_old_password">{{ form.old_password.label_tag }}</label>
                        <div id="validationOldPas" class="invalid-feedback">
                            {{ form.old_password.errors }}
                        </div>
                    </div>

                   <div class="row">
                    <div class="col-12 col-md">
                        <div class="form-floating mb-3">
                            <!-- {{ form.new_password1 }} -->
                            <input type="password" class="form-control" aria-describedby="validationNewPas1" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                            <label for="id_new_password1">
                                {{ form.new_password1.label_tag }}
                            </label>
                            <div id="validationNewPas1" class="invalid-feedback">
                                {{ form.new_password1.errors }}
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-12 col-md">

                        <div class="form-floating mb-3">
                            <!--  {{ form.new_password2 }} -->
                            <input type="password" class="form-control" aria-describedby="validationNewPas2"
                            name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                            <label for="id_new_password2">
                                {{ form.new_password2.label_tag }}
                            </label>
                            <div id="validationNewPas2" class="invalid-feedback">
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                        <!-- <div class="list-group-help-text">
                            {% if form.new_password2.help_text %}
                            {{ form.new_password2.help_text|safe }}
                            {% endif %}
                        </div> -->
                    </div>
                   </div>
                   <div class="list-group-help-text">
                    {% if form.new_password1.help_text %}
                    {{ form.new_password1.help_text|safe }}
                    {% endif %}
                </div>
                    <div class="d-flex align-items-center justify-content-center mt-4 mb-0">                     
                        <input type="submit" value="{% translate 'Change my password' %}" class="btn btn-primary">
                    </div>

                </form>
            </fieldset>

            <div class=" d-flex align-items-center mt-4 justify-content-between">
                <a accesskey="h" class="btn btn-accent btn-back" href="{% url 'home' %}">
                    <i class="fa fa-chevron-left me-3 "></i>
                    <span>Go to Home</span>
                </a>
                <a class="btn btn-outline-accent btn-back" href="{% url 'dashboard' %}">
                    <i alt="A compass " class="sb-nav-link-icon fas fa-tachometer-alt"></i>
                    <span>Go to Home</span>
                </a>
            </div>

        </div>
    </div>
</main>

{% endblock %}